$color: #ff0000;
$bgc: #333;
body {
    background-color: $bgc;
    color: $color;
    font-size: 25px;
    font-family: sans-serif;
    box-shadow: 0 0 10px #ff0000;
    transition-duration: 02sec; 
}
